<template>
  <div class="indexBox">
    <a-layout >
      <a-layout-header class="p-0">
        <a-row class="flex flex-no-wrap w-full">
          <a-col :span="2" class="text-right mr-4 text-xl">千鸟</a-col>
          <a-col :span="10" class="flex items-center relative inputBox">
            <a-input-search
              placeholder="问题 / 关键词"
              @search="onSearch"
              @change="onChange"
              @click="onChange"
              v-model="search"
              size="large"
            >
              <a-icon slot="enterButton" type="swap-right" class="text-3xl" />
            </a-input-search>
            <div class="inputSearchBox absolute">
              <div class="inputSearchBox_div" v-if="keywordSearch&&keywordSearch[0]">
                <ol>
                  <li class="active" v-for="(val,index) in keywordSearch" :key="index" @click="onSearchLi(val)">
                    {{val}}
                  </li>
                </ol>
              </div>
            </div>

          </a-col>
        </a-row>
      </a-layout-header>
      <a-layout-content>
        <a-row class="mt-4" v-if="prompt&&!$route.query.q">
          <a-col :span="2" class="mr-4"></a-col>
          <a-col :span="10">请按 <span class="text-yellow-400">回车键</span> 以发起搜索</a-col>
        </a-row>
        <div class="container m-auto mt-4">
          <a-row :gutter="20">
            <a-col :md="{span:24}" :sm="{span:24}" :xs="{span:24}" :lg="{span:14} " :xl="{span:14}" :xxl="{span:14}">
              <div v-if="rank==1">
                <div class="mb-4" v-for="(item,key) in nowdata.children" :key="key">
                  <a-collapse defaultActiveKey="1" @change="changeActivekey">
                    <a-collapse-panel :header="item.keyword" key="1" :showArrow="false">
                      <div slot="extra" class="text-gray-600">展开内容</div>
                      <div class="text-gray-200">
                        <div >
                          <p class="mb-1">描述</p>
                          <div class="clearfix">
                            <div v-for="(val,index) in item.children" :key="index" class="">
                              <div v-if="!val.show" @click="valChoose(val)"
                                   class="float-left border-b mr-4 border-orange-400 mb-2 cursor-pointer pb2px"
                                   :class="val.tag?'tagBtn':''"
                              >
                                {{val.keyword}}
                              </div>
                              <div v-else class="float-left w-full bginset mb-4" @click="valChoose(val)">
                                <a-collapse defaultActiveKey="1" @change="changeActivekey">
                                  <a-collapse-panel  key="1" :showArrow="false">
                                      <div slot="header" >
                                        {{val.keyword}}
                                      </div>
                                    <div>
                                      <p class="text-gray-400">实例</p>
                                      <ol>
                                        <li v-for="(val1,index1) in val.example" :key="index1">
                                          <a :href="val1.url" @click.stop.prevent="preventDefault(val1.url)" target="_blank" class="a_blank">
                                            <div class="ellipsisNoWrap">{{val1.description}}</div>
                                          </a>
                                          <div>
                                            <span class="exampleBottom">{{val1.urlLeft}}<span class="exampleBottomSpan">∙</span>{{val1.date}}</span>
                                          </div>
                                        </li>
                                      </ol>
                                      <div class="clearfix tagSearchBox">
                                        <div class="float-left tagSearchRu">进一步搜索</div>
                                        <div @click.stop.prevent="searchEntry(item.keyword)" class="float-left tagSearch cursor-pointer text-white mr-2 ml-2"><a-icon class="inline-block align-middle mr-1" type="search" />{{item.keyword}}</div>
                                        <div @click.stop.prevent="searchEntry(val.keyword)" class="float-left tagSearch cursor-pointer text-white"><a-icon class="inline-block align-middle  mr-1" type="search" />{{val.keyword}}</div>
                                      </div>
                                    </div>
                                  </a-collapse-panel>
                                </a-collapse>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="mt-2" v-if="nowdata.attribute&&nowdata.attribute[0]">
                          <p class="mb-1">属性</p>
                          <div class="clearfix">
                            <div v-for="(val,index3) in nowdata.attribute" :key="index3" class="float-left border-b mr-4 border-orange-400 mb-2 cursor-pointer pb2px">
                              {{val.keyword}}
                            </div>
                          </div>
                        </div>
                        <div class="mt-2">
                          <p class="mb-1">相关</p>
                          <div class="clearfix">
                            <div v-for="(val,index2) in nowdata.children" :key="index2" class="float-left border-b mr-4 border-orange-400 mb-2 cursor-pointer pb2px">
                              {{val.keyword}}
                            </div>
                          </div>
                        </div>
                        <div class="mt-2">
                          <p class="mb-1">领域</p>
                          <div class="containers">
                            <div :id="'container'+key"></div>
                          </div>
                        </div>
                        <div class="mt-2" v-if="item.threeD">
                          <p class="mb-1">3D模型</p>
                          <div>

                          </div>
                        </div>
                      </div>
                    </a-collapse-panel>
                  </a-collapse>
                </div>
              </div>
              <div v-else-if="rank == 2" class="mb-4">
                <a-collapse defaultActiveKey="1" @change="changeActivekey">
                  <a-collapse-panel :header="nowdata.keyword" key="1" :showArrow="false">
                    <div class="text-gray-200">
                      <div>
                        <p class="mb-1">描述</p>
                        <div class="clearfix">



                          <div v-for="(val,index) in nowdata.children" :key="index" class="">
                            <div v-if="!val.show" @click="valChoose(val)"
                                 class="float-left border-b mr-4 border-orange-400 mb-2 cursor-pointer pb2px"
                                 :class="val.tag?'tagBtn':''"
                            >
                              {{val.keyword}}
                            </div>
                            <div v-else class="float-left w-full bginset mb-4" @click="valChoose(val)">
                              <a-collapse defaultActiveKey="1" @change="changeActivekey">
                                <a-collapse-panel  key="1" :showArrow="false">
                                  <div slot="header" >
                                    {{val.keyword}}
                                  </div>
                                  <div>
                                    <p class="text-gray-400">实例</p>
                                    <ol>
                                      <li v-for="(val1,index1) in val.example" :key="index1">
                                        <a :href="val1.url" @click.stop.prevent="preventDefault(val1.url)" target="_blank" class="a_blank">
                                          <div class="ellipsisNoWrap">{{val1.description}}</div>
                                        </a>
                                        <div>
                                          <span class="exampleBottom">{{val1.urlLeft}}<span class="exampleBottomSpan">∙</span>{{val1.date}}</span>
                                        </div>
                                      </li>
                                    </ol>
                                    <div class="clearfix tagSearchBox">
                                      <div class="float-left tagSearchRu">进一步搜索</div>
                                      <div @click.stop.prevent="searchEntry(val.keyword)" class="float-left tagSearch cursor-pointer text-white mr-2 ml-2"><a-icon class="inline-block align-middle mr-1" type="search" />{{val.keyword}}</div>
                                      <div @click.stop.prevent="searchEntry(val.parent)" class="float-left tagSearch cursor-pointer text-white"><a-icon class="inline-block align-middle  mr-1" type="search" />{{val.parent}}</div>
                                    </div>
                                  </div>
                                </a-collapse-panel>
                              </a-collapse>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="mt-2" v-if="nowdata.attribute&&nowdata.attribute[0]">
                        <p class="mb-1">属性</p>
                        <div class="clearfix">
                          <div v-for="(val,index) in nowdata.attribute" :key="index" class="float-left border-b mr-4 border-orange-400 mb-2 cursor-pointer pb2px">
                            {{val.keyword}}
                          </div>
                        </div>
                      </div>
                      <div class="mt-2">
                        <p class="mb-1">相关</p>
                        <div class="clearfix">
                          <div v-for="(val,index) in nowdata.children" :key="index" class="float-left border-b mr-4 border-orange-400 mb-2 cursor-pointer pb2px">
                            {{val.keyword}}
                          </div>
                        </div>
                      </div>
                      <div class="mt-2">
                        <p class="mb-1">领域</p>
                        <div class="containers">
                          <div :id="'container'+0"></div>
                        </div>
                      </div>
                      <div class="mt-2" v-if="nowdata.threeD">
                        <p class="mb-1">3D模型</p>
                        <div>
                        </div>
                      </div>
                    </div>
                  </a-collapse-panel>
                </a-collapse>
              </div>
              <div v-else>
                <div v-if="nowdata.parent">
                  <a-collapse defaultActiveKey="1" @change="changeActivekey">
                    <a-collapse-panel key="1" :showArrow="false">
                      <div slot="header">
                        <h2 class="headerH2">{{nowdata.parent}}</h2>
                        <span class="headerSpan">{{nowdata.keyword}}</span>
                      </div>
                      <div>
                        <ol>
                          <li v-for="(val1,index1) in nowdata.example" :key="index1">
                            <a :href="val1.url" @click.stop.prevent="preventDefault(val1.url)" target="_blank" class="a_blank">
                              <div class="ellipsisNoWrap">{{val1.description}}</div>
                            </a>
                            <div>
                              <span class="exampleBottom">{{val1.urlLeft}}<span class="exampleBottomSpan">∙</span>{{val1.date}}</span>
                            </div>
                          </li>
                        </ol>
                        <div class="clearfix tagSearchBox">
                          <div class="float-left tagSearchRu">进一步搜索</div>
                          <div @click.stop.prevent="searchEntry(nowdata.keyword)" class="float-left tagSearch cursor-pointer text-white mr-2 ml-2"><a-icon class="inline-block align-middle mr-1" type="search" />{{nowdata.keyword}}</div>
                          <div @click.stop.prevent="searchEntry(nowdata.parent)" class="float-left tagSearch cursor-pointer text-white"><a-icon class="inline-block align-middle  mr-1" type="search" />{{nowdata.parent}}</div>
                        </div>
                      </div>
                    </a-collapse-panel>
                  </a-collapse>
                </div>
                <div v-else-if="$route.query.q" style="text-align: center">
                  没有数据，请您重新搜索
                </div>
              </div>
            </a-col>
            <a-col :md="{span:24}" :sm="{span:24}" :xs="{span:24}" :lg="{span:10} " :xl="{span:10}" :xxl="{span:10}" >
              <ol>
                <li v-for="(val1,index1) in nowExample" :key="index1" class="liRight"  @click.stop.prevent="preventDefault(val1.url)">
                  <a :href="val1.url" target="_blank" class="a_blank">
                    <div class="ellipsisNoWrap">{{val1.description}}</div>
                  </a>
                  <div>

                    <span class="exampleBottom">{{val1.urlLeft}}<span class="exampleBottomSpan">∙</span>{{val1.date}}</span>
                  </div>
                </li>
              </ol>
            </a-col>
          </a-row>
        </div>
      </a-layout-content>
    </a-layout>
  </div>

</template>

<script>
  import { Input } from 'ant-design-vue'
  import G6 from '@antv/g6'
  let Slash='/'

  let inputSearchBox,inputBox,body
    export default {
      name: "index",
      components: { Input},
      data () {
        return {
          text: `A dog is a type of domesticated animal.Known for its loyalty and faithfulness,it can be found as a welcome guest in many households across the world.`,
          search:'',
          onceTrue:true,
          prompt:true,
          rank:4,
          nowdata:{},
          onclickTrue:false,
          nowExample:[],
          allKeyword:[],
          keywordSearch:[]
        }
      },
      mounted () {
        let $this=this
        Slash='/'
        let isMac = /macintosh|mac os x/i.test(navigator.userAgent);
        if(isMac){
          Slash='/'
        }else{
          Slash='\\'
        }
        this.nowdata={}
        if(this.$route.query.q){
          this.search=this.$route.query.q
          this.prompt=false
        }else{
          this.prompt=true
        }
        this.nowExample=[]
        this.allKeyword=[]
        this.$get('../../static/json/search.json',{keyword:this.$route.query.q}).then((data) =>{
          this.recursive(data.searchData)
          this.recursiveKeyword(data.searchData)
          setTimeout(()=>{
            this.rank=this.nowdata.rank
            if(this.nowdata.children){
              this.recursiveExample(this.nowdata.children)
            }else{
              this.recursiveExample(this.nowdata)
            }
          },100)
        })
        this.$nextTick(()=>{
            document.onkeydown=function(event) {
              if($this.onceTrue){
                if (event.keyCode == 13) {
                  $this.onSearch()
                  $this.onceTrue=false
                }
              }
            }
        })
        this.init()
        setTimeout(()=>{
          this.initGraph()
        },1000)
      },
      methods: {
        init(){
          inputBox=document.getElementsByClassName('inputBox')[0]
          inputSearchBox=document.getElementsByClassName('inputSearchBox')[0]
          body =document.getElementsByTagName('body')[0]
          inputBox.addEventListener('click',(event)=>{
            event.preventDefault();
            window.event? window.event.cancelBubble = true : event.stopPropagation();
            if(this.onclickTrue){
              inputSearchBox.style.display='none'
            }else{
              inputSearchBox.style.display='block'
            }
            this.onclickTrue=false
          })
          body.addEventListener('click',(event)=>{
            event.preventDefault();
            window.event? window.event.cancelBubble = true : event.stopPropagation();
            inputSearchBox.style.display='none'
          })
        },
        initGraph(){
          let container1=document.getElementsByClassName('containers')
          for(let k=0;k<container1.length;k++){
            console.log(container1[k].children[0].id)
            if(container1[k].children&&container1[k].children[0]){
              let dataContainer = {
                nodes: [
                  {
                    id: '0',
                    label: '0',
                  },
                  {
                    id: '1',
                    label: '1',
                  },
                  {
                    id: '2',
                    label: '2',
                  },
                  {
                    id: '3',
                    label: '3',
                  },
                  {
                    id: '4',
                    label: '4',
                  },
                  {
                    id: '5',
                    label: '5',
                  },
                  {
                    id: '6',
                    label: '6',
                  },
                  {
                    id: '7',
                    label: '7',
                  },
                  {
                    id: '8',
                    label: '8',
                  },
                  {
                    id: '9',
                    label: '9',
                  },
                  {
                    id: '10',
                    label: '10',
                  },
                  {
                    id: '11',
                    label: '11',
                  },
                  {
                    id: '12',
                    label: '12',
                  },
                  {
                    id: '13',
                    label: '13',
                  },
                  {
                    id: '14',
                    label: '14',
                  },
                  {
                    id: '15',
                    label: '15',
                  },
                  {
                    id: '16',
                    label: '16',
                  },
                  {
                    id: '17',
                    label: '17',
                  },
                  {
                    id: '18',
                    label: '18',
                  },
                  {
                    id: '19',
                    label: '19',
                  },
                  {
                    id: '20',
                    label: '20',
                  },
                ],
                edges: [
                  {
                    source: '0',
                    target: '1',
                  },
                  {
                    source: '0',
                    target: '2',
                  },
                  {
                    source: '0',
                    target: '3',
                  },
                  {
                    source: '0',
                    target: '4',
                  },
                  {
                    source: '1',
                    target: '5',
                  },
                  {
                    source: '2',
                    target: '6',
                  },
                  {
                    source: '3',
                    target: '7',
                  },
                  {
                    source: '4',
                    target: '8',
                  },
                  {
                    source: '1',
                    target: '9',
                  },
                  {
                    source: '2',
                    target: '10',
                  },
                  {
                    source: '3',
                    target: '11',
                  },

                  {
                    source: '4',
                    target: '12',
                  },
                  {
                    source: '1',
                    target: '13',
                  },
                  {
                    source: '2',
                    target: '14',
                  },
                  {
                    source: '3',
                    target: '15',
                  },
                  {
                    source: '4',
                    target: '16',
                  },
                  {
                    source: '1',
                    target: '17',
                  },
                  {
                    source: '2',
                    target: '18',
                  },
                  {
                    source: '3',
                    target: '19',
                  },
                  {
                    source: '4',
                    target: '20',
                  },
                ],
              };
              let container2=container1[k].children[0].id
              const width = container1[k].children[0].scrollWidth;
              const height = container1[k].children[0].scrollHeight || 400;
              const graph = new G6.Graph({
                container: container2,
                width,
                height,
                linkCenter: true,
                modes: {
                  default: [
                    'drag-canvas',
                    // {
                    //   type: 'tooltip',
                    //   // formatText: function formatText(model) {
                    //   //   console.log(model)
                    //   //   const text = model.label;
                    //   //   return text;
                    //   // },
                    // },
                    'drag-node'
                  ],
                },
                layout: {
                  type: 'fruchterman',
                  gravity: 5,
                  speed: 5,
                  getId: function getId(d) {
                    return d.id;
                  },
                },
                animate: true,
                defaultNode: {
                  size: 30,
                  style: {
                    lineWidth: 2,
                    stroke: '#5B8FF9',
                    fill: '#C6E5FF',
                  },
                },
                defaultEdge: {
                  size: 1,
                  color: '#e2e2e2',
                  style: {
                    endArrow: {
                      path: 'M 0,0 L 8,4 L 8,-4 Z',
                      fill: '#e2e2e2'
                    },
                  },
                },
              });
              graph.data(dataContainer);
              graph.render();
              graph.on('click', ev => {
                const shape = ev.target;
                const item = ev.item;
                item._cfg.edges=[]
              })
            }
          }
        },
        recursive (d) {
          if(d[0]){
            d.forEach(item => {
              if(item.keyword==this.$route.query.q){
                this.nowdata = item
                console.log(item)
              }else{
                if(item.children){
                  this.recursive(item.children)
                }
              }
            })
          }
        },
        recursiveKeyword(d){
          let $this=this
          // console.log(d)
          if(d[0]){
            d.forEach(item => {
              $this.allKeyword.push(item.keyword)
              if(item.children){
                $this.recursiveKeyword(item.children)
              }
            })
          }
        },
        recursiveExample(d){
          let $this=this
          if(d[0]){
            d.forEach(item => {
              if(item.example){
                for(let k in item.example){
                  $this.nowExample.push(item.example[k])
                }
              }
              if(item.children){
                this.recursiveExample(item.children)
              }
            })
          }else{
            if(d.example){
              for(let k in d.example){
                $this.nowExample.push(d.example[k])
              }
            }
            if(d.children){
              this.recursive(d.children)
            }
          }
        },
        searchEntry(val){
          let $this=this
          if(this.$route.query.q==val){
          }else {
            this.$router.push({
              path: '/search',
              query: {
                q: val
              }
            })
            this.search=val
            this.nowExample=[]
            this.$get('../../static/json/search.json',{keyword:val}).then((data) =>{
              this.recursive(data.searchData)
              setTimeout(()=>{
                this.rank=this.nowdata.rank
                if(this.nowdata.children){
                  this.recursiveExample(this.nowdata.children)
                }else{
                  this.recursiveExample(this.nowdata)
                }

              },100)
            })
          }
        },
        onChange(){
          this.keywordSearch=[]
          if(this.search){
            for(let k in this.allKeyword){
              if(this.allKeyword[k]){
                if(this.allKeyword[k].indexOf(this.search)!==-1){
                  if(this.keywordSearch.length<8){
                    this.keywordSearch.push(this.allKeyword[k])
                  }else{
                    break
                  }
                }
              }
            }
          }
        },
        onSearchLi(val){
          this.search=val
          this.onclickTrue=true
          this.onSearch()
        },
        onSearch(){
          let $this=this
          setTimeout(()=>{
            $this.onceTrue=true
          },1000)
          if(this.search){
            if(this.$route.query.q==this.search){
            }else{
              this.$router.push({
                path: '/search',
                query:{
                  q:this.search
                }
              })
              this.nowExample=[]
              this.$get('../../static/json/search.json',{keyword:this.$route.query.q}).then((data) =>{
                this.recursive(data.searchData)
                setTimeout(()=>{
                  this.rank=this.nowdata.rank
                  if(this.nowdata.children){
                    this.recursiveExample(this.nowdata.children)
                  }else{
                    this.recursiveExample(this.nowdata)
                  }
                },100)
              })
            }
          }else{
            this.$message.warning('请填写要查询的字段')
          }
        },
        changeActivekey(key) {
          console.log(key);
        },
        valChoose(val){
          val.show=!val.show
          this.$forceUpdate()
        },
        preventDefault(val){
          window.open(val)
        }
      }
    }
</script>

<style scoped>
.indexBox .ant-layout{
  background: #26262A;
}
.indexBox .ant-collapse{
  background-color:#2C2C30 ;
  border: none;
  color:white;
}
  .pb2px{
    padding-bottom:2px
  }
.bginset{
  background-color: #3A3A3E;
}
  .ellipsisNoWrap{
    width:100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color:#66BBFF;
    margin-top:6px;
  }
  .a_blank:visited .ellipsisNoWrap{
    color:#CC99FF
  }
  .tagBtn{
    border-color: #40AE36;
    background-color: rgba(64,174,54,0.3);
    border-radius: .2rem;
    padding: .5rem .5rem;
    padding-bottom: .4375rem;
    border-bottom-style: solid;
    border-bottom-width: .125rem;
  }
  .tagSearch{
    background-color: rgba(20,162,245,0.3);
    border-bottom-color: #14A2F5;
    border-radius: .2rem;
    padding: .5rem .5rem;
    padding-bottom: .4375rem;
    border-bottom-style: solid;
    border-bottom-width: .125rem;
    font-size:12px;
  }
  .tagSearchRu{
    padding: .5rem .5rem;
    font-size:12px;
    color:#8E8E92;
  }
  .tagSearchBox{
    border-top: 1px solid #8E8E92;
    margin-top:10px;
    padding-top:10px;
  }
  .headerH2{
    font-size:24px;
    color:white;
    margin-bottom:8px;
    margin-top:8px;
  }
  .headerSpan{
    font-size:12px;
    color:#FF557D;
  }
  .exampleBottom{
    color:#8E8E92;
    display: inline-block;
    vertical-align: middle;
  }
  .exampleBottomSpan{
    font-size:16px;
    margin-left:4px;
    margin-right:4px;
    display: inline-block;
    vertical-align: middle;
  }
  .liRight{
    margin-bottom:10px;
    background:linear-gradient(90deg, #2c2c30, rgba(44,44,48,0));
    background: -webkit-linear-gradient(90deg, #2c2c30, rgba(44,44,48,0));
    background: -moz-linear-gradient(90deg, #2c2c30, rgba(44,44,48,0));
    background: -ms-linear-gradient(90deg, #2c2c30, rgba(44,44,48,0));
    border-radius: .2rem;
    padding:4px;
    cursor: pointer;
  }
.liRight{
  border: 1px solid transparent;
}
  .liRight:hover{
    border: 1px solid #66BBFF;
  }
  .liRight :visited .ellipsisNoWrap{
    color:white
  }
.liRight  .ellipsisNoWrap{
  color:white
}
.liRight:hover .ellipsisNoWrap{
  color:#66BBFF
}
.inputSearchBox{
  display: none;
  top:52px;
  z-index: 9999999;
  width:100%;
  background-color: white;
  color:#333;
  border-radius: 4px;
}
  .inputSearchBox_div{
    height:320px;
    padding-top:10px;
  }
  .active:hover{
    color:white;
    background-color:#66BBFF ;
  }
  .inputSearchBox_div li{
    line-height:36px;
    height:36px;
    width:100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left:20px;
    box-sizing: border-box;
    cursor: pointer;
  }
</style>
