<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #FAFAFF;
  background-color: #26262A;
  min-height: 100vh;
  margin-top: 0px;
/*  轻量应用服务器*/
}
.indexBox .ant-collapse-content{
  background-color:#2C2C30 ;
  border-top: 1px solid #666;
}
.indexBox .ant-collapse > .ant-collapse-item {
  border-bottom: none;
}
.indexBox .ant-collapse > .ant-collapse-item > .ant-collapse-header{
  color:rgba(255,255,255,1)
}
  .bginset .ant-collapse-content{
    background-color:#3A3A3E ;
    border-top: 1px solid #666;
  }
.bginset  .ant-collapse > .ant-collapse-item > .ant-collapse-header{
  background-color:#3A3A3E ;
  border: none;
  color:white;
}
</style>
